.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.canvasAndChatContainer {
  display: inline-grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  height: 100vh;
}
