.radio-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
}

.radio-group-container label {
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-group-container input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: #4681f4;
    background-color: white;
    display: grid;
    place-content: center;
    margin-right: 5px;
}

.radio-group-container input:checked::before {
    content: '';
    background-color: #4681f4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}