{
    "env": {
      "browser": true
    },
    "extends": [
      "react-app",
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint", "react-hooks"],
    "rules": {
      "no-use-before-define": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-use-before-define": ["error"],
      "@typescript-eslint/explicit-function-return-type": "off",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "import/prefer-default-export": "off",
      "react/prop-types": "off",
      "import/extensions": "off",
      "no-console": ["warn", { "allow": ["warn", "error"] }],
      "react/display-name": "off",
      "import/no-anonymous-default-export": "off",
      "react/jsx-filename-extension": [
        "warn",
        {
          "extensions": [".tsx"]
        }
      ]
    }
  }